.body {
    background-color: darkgrey;
}
#container_ex1{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

#container_ex1 .tamanho{
    height: 80px;
    width: 80px;
}

#container_ex1 .filho {
    background-color: blue;

}

#container_ex1 .filho2{
background-color: red;
}
#container_ex1 .filho3{
background-color: green;
}
#container_ex1 .filho4{
background-color: yellow;
}