body {
    background-color: darkgrey;
}
#container_ex1{
    background-color: antiquewhite;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-wrap: wrap
    
}
#container_ex1 .filho {
    background-color: blue;
    height: 110px;
    width: 110px;
   
}
#container_ex1 .filho2{
background-color: red;
height: 110px;
width: 110px;
}
#container_ex1 .filho3{    
background-color: green;
height: 110px;
width: 110px;
}
#container_ex1 .filho4{
background-color: yellow;
height: 110px;
width: 110px;
}
#container_ex1 .filho5{
background-color: pink;
height: 110px;
width: 110px;
}
#container_ex1 .filho6{
background-color: purple;
height: 110px;
width: 110px;
}
#container_ex1 .filho7{
background-color: orange;
height: 110px;
width: 110px;
}
#container_ex1 .filho8{
background-color: cyan;
height: 110px;
width: 110px;
}
#container_ex1 .filho9{
background-color: magenta;
height: 110px;
width: 110px;
}
#container_ex1 .filho10{
background-color: lime;
height: 110px;
width: 110px;
}