body {
    background-color: darkgrey;
}
#container_ex1{
    background-color: antiquewhite;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap
    
}
#container_ex1 .filho {
    background-color: blue;
    height: 120px;
    width: 120px;
   
}
#container_ex1 .filho2{
background-color: red;
height: 120px;
width: 120px;
}
#container_ex1 .filho3{    
background-color: green;
height: 120px;
width: 120px;
}
#container_ex1 .filho4{
background-color: yellow;
height: 120px;
width: 120px;
}
#container_ex1 .filho5{
background-color: pink;
height: 120px;
width: 120px;
}
#container_ex1 .filho6{
background-color: purple;
height: 120px;
width: 120px;
}